<%- contentFor('content') %>
<script type="text/javascript">
var loginResultCode = '<%=resultCode %>';

$(document).ready(function() {
    loginViewMessage();
});

function loginViewMessage(){
    switch (loginResultCode) {
        case '1':
            alert("로그인 정보가 올바르지 않습니다.");
            break;
        case '2':
            alert("로그인이 처리되지 않았습니다. 잠시 후에 다시 시도해 주십시오.");
            break;
        case '3':
            alert("이 사용자는 접근 권한이 없습니다.");
            break;
    }
}
</script>
<div class="wrapper-page">

    <div class="text-center">
        <span class="logo-lg"><i class="md md-verified-user"></i> <span>마트협회 구인구직</span> </span>
    </div>

    <form name="loginForm" id="loginForm" class="form-horizontal m-t-20" action="/auth/loginProcess" method="POST">
        <div class="panel panel-border panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Log In with</h3>
            </div>
            <div class="panel-body">
                <input type="hidden" name="url" value="">
                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="text" name="userId" id="userId" class="form-control" placeholder="userId" value="">
                        <i class="md md-perm-identity form-control-feedback l-h-34"></i>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password" name="password" id="password" class="form-control" placeholder="password" required="" value="">
                        <i class="md md-vpn-key form-control-feedback l-h-34"></i>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-custom w-md" type="button" id="login">로그인</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        $("#login").click(function() {
            if ($("#userId").val().length == 0) {
                alert("아이디를 입력하세요");
                return;
            }
            if ($("#password").val().length == 0) {
                alert("암호를 입력하세요");
                return;
            }
            $("#loginForm").submit();
            
        });
    });
</script>